@model MVC5_proj.ModelView.UserViewModel

<!DOCTYPE html>
<style>
    body {
        background-size: 1700px 900px;
        background-position: 300px 10px;

    }
</style>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "ShowHomePage", "Home")</li>
                    <li>@Html.ActionLink("About", "ShowAbout", "Home")</li>
                    <li>@Html.ActionLink("Contact", "ShowContact", "Home")</li>
                    <li>@Html.ActionLink("My Dictionary", "ShowMyCollection", "Home")</li>
                    <li>@Html.ActionLink("IT Service", "ShowMyIT", "Home")</li>
                    <li>@Html.ActionLink("TestDB", "ShowMyTestDB", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
